@font-face {
    font-family: 'Satoshi';
    src: url(../assets/fontes/satoshi/Satoshi-Light.otf);
}

@font-face {
    font-family: 'Kollektif';
    src: url('../assets/fontes/kollektif/Kollektif.ttf');
}

.trilhas-topo {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    margin-top: 1.8rem;
    gap: 2rem;
    justify-content: space-between;
    width: auto;
}

.trilhas-grafico {
    flex: 1 1 60%;
    background-color: #2F333E;
    border-radius: 0.5rem;
    border: 1px solid #857DDB;
    padding-top: 1.5625rem;
    width: auto;
}

.trilhas-grafico-outro {
    flex: 1;
    background-color: #2F333E;
    border-radius: 0.5rem;
    border: 1px solid #857DDB;
    padding: 0.5rem 10px;
}

.trilhas-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;
    margin-top: 3.125rem;
    width: 100%;
    justify-content: center;
}

.trilhas-ativas {
    flex: 0 0 25%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 0.625rem;
    font-family: 'Satoshi';
    color: #cdcdcd;
}

.icone-trilhas {
    color: #34A853;
    margin-right: 10px;
}

.dropdown-btn button {
    text-decoration: none;
    background: #373737;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-family: 'Kollektif';
    color: #fff;
    margin-top: 40px;
    transition: background 0.2s;
    cursor: pointer;
}

.menu-opcao {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #2F333E;
    margin-top: 0px;
    border: 1px solid #1a1a1a;
    color: #fff;
    font-size: 0.8rem;
}

.diagnostico-botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.diagnostico-graficos {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;
}

.relatorio {
    background-color: #2F333E;
    border-radius: 0.5rem;
    border: 1px solid #857DDB;
    padding: 2rem;
    margin-top: 3rem;
    width: 100%;
}

.icone-relatorio {
    color: #34A853;
    width: 30px;
    height: 30px;
}

.relatorio-titulo {
    color: #857DDB;
    margin-top: 10px;
    font-size: 1.75rem;
}

.relatorio-subtitulo {
    color: #cdcdcd;
    margin-top: 10px;
    font-size: 1.3rem;
}

.relatorio-texto {
    font-size: 1.2rem;
    margin-top: 10px;
}

.relatorio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.25rem;
    background-color: #3A3F4D;
    flex: 1 1 250px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.relatorio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 30px;
    justify-content: center;
}

.relatorio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.icone-indicador {
    font-size: 1.8rem;
    color: #5449CC;
    margin-bottom: -0.2rem;
}

.conclusao {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.visaoGeral-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.paineis {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 45px;
}

.painelPrincipal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 750px;
}

.painelSecundario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    background-color: #2F333E;
    border: 1px solid #857DDB;
    border-radius: 10px;
    width: 280px;
    padding: 16px;
}

.painel-titulo {
    font-family: 'Kollektif';
    font-weight: 600;
}

.painel-estatisticas {
    font-family: 'Satoshi';
    font-weight: 300;
}

.painel-icone {
    height: 60px;
    width: 60px;
    color: #857DDB;
}

.infoLinha {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #2F333E;
    border: 1px solid #857DDB;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    align-items: center;
}

.infoLinhas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-icone {
    height: 25px;
    width: 20px;
}

.visaoGeral-icone {
    color: #857DDB;
    height: 25px;
    width: 25px;
}

.visaoGeral-grafico {
    width: 100%;
    background-color: #5449CC;
    border-radius: 30px;
    align-items: center;
    padding: 25px;
}

.card-visaoGeral {
    background-color: #2F333E;
    width: 240px;
    height: 145px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #857DDB;
}

.cardTitulo-visaoGeral {
    font-size: 1.5rem;
    font-family: 'Satoshi';
    color: #cdcdcd;
}

.visaoGeral-subtitulo {
    font-family: 'Satoshi';
    font-size: 1rem;
    color: #cdcdcd;
}

.subtitulo {
    color: #fff;
}

.grafico-linhas {
    width: 100%;
    max-width: 700px;
    height: 300px;
}

@media (max-width: 1400px) {
    .trilhas-topo {
        gap: 2rem;
    }

    .diagnostico-graficos {
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    .painelSecundario {
        width: 240px;
    }

    .trilhas-grafico-outro {
        max-width: 600px;
    }
}

@media (max-width: 1200px) {

    .trilhas-topo {
        flex-direction: row; 
        align-items: flex-start; 
        gap: 1rem;
    }

    .trilhas-grafico {
        flex: 1 1 75%; 
        width: auto;
        padding-top: 1rem;
        min-height: 260px;
    }

    .trilhas-grafico-outro {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        min-height: 300px;
    }

    .trilhas-ativas {
        flex: 1 1 30%; 
        max-width: 35%;
        margin-top: 0;
    }
}


@media (max-width: 1024px) {
    .trilhas-topo {
        flex-direction: row; 
        align-items: flex-start; 
        gap: 1rem;
    }

    .trilhas-grafico {
        flex: 1 1 60%; 
        width: auto;
        padding-top: 1rem;
        min-height: 260px;
    }

    .trilhas-grafico-outro {
        flex: 1 1 100%;
        min-height: 280px;
    }

    .trilhas-ativas {
        flex: 1 1 20%; 
        max-width: 25%;
        margin-top: 0;
    }
}


@media (max-width: 768px) {
    
    .trilhas-topo {
        flex-direction: row; 
        align-items: flex-start; 
        gap: 1rem;
    }

    .trilhas-grafico {
        flex: 1 1 65%; 
        width: auto;
        padding-top: 1rem;
        min-height: 260px;
    }

    .trilhas-grafico-outro {
        flex: 1 1 100%;
        width: 100%;
        padding: 0.8rem;
        min-height: 260px;
    }

    .trilhas-ativas {
        flex: 1 1 30%; 
        max-width: 35%;
        margin-top: 0;
    }

    .grafico-linhas {
        width: 100%;
        max-width: 100%;
        height: 260px;
    }
}