@font-face {
    font-family: 'Satoshi';
    src: url(../assets/fontes/satoshi/Satoshi-Light.otf);
}

@font-face {
    font-family: 'Kollektif';
    src: url('../assets/fontes/kollektif/Kollektif.ttf');
}

.trilhas-topo {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
    margin-top: 1.875rem;
}

.trilhas-grafico {
    background-color: #2F333E;
    border-radius: 0.5rem; 
    border: 1px solid #857DDB;
    padding-top: 1.5625rem;
    height: '300px';
    width: '50%'; 
}

.trilhas-cards {
    display: flex;
    flex-direction: row;
    gap: 0.9375rem;
    margin-top: 3.125rem; 
}

.subtitulo {
    color: #fff;
}

.trilhas-ativas {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 0.625rem;
    font-family: 'Satoshi';
    color: #cdcdcd;
}

.icone-trilhas {
    color: #34A853;
}

.grafico-linhas {
    max-width: 43.75rem;
    max-height: 18.75rem;
}

.dropdown-btn button {
    text-decoration: none;
    background: none; 
    background-color: #373737;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-family: 'Kollektif';
    color: #fff;
    margin-top: 40px;
    transition: background 0.2s;
    cursor: pointer; 
}

.menu-opcao {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #2F333E;
    margin-top: 0px;
    border: 1px solid #1a1a1a;
    color: #fff;
    font-size: 0.8rem;
}

.diagnostico-botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.diagnostico-graficos {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;
}

.relatorio {
    background-color: #2F333E;
    border-radius: 0.5rem; 
    border: 1px solid #857DDB;
    padding: 2rem;
    margin-top: 3rem;
}

.icone-relatorio {
    color: #34A853;
    width: 30px;
    height: 30px;
}

.relatorio-titulo {
    color: #857DDB;
    margin-top: 20px;
    font-size: 1.75rem;
}

.relatorio-subtitulo {
    color: #cdcdcd;
    margin-top: 10px;
    font-size: 1.3rem;
}

.relatorio-texto {
    font-size: 1.2rem;
    margin-top: 10px;
}

.relatorio-card {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center; 
    padding: 1.25rem;
    background-color: #3A3F4D;
    width: 18.75rem;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.relatorio-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 30px;
}

.relatorio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
}

.icone-indicador {
    font-size: 1.8rem;
    color: #5449CC;
    margin-bottom: -0.2rem;
}

.conclusao {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
}
