@font-face {
    font-family: 'Satoshi';
    src: url(../assets/fontes/satoshi/Satoshi-Light.otf);
}

@font-face {
    font-family: 'Kollektif';
    src: url('../assets/fontes/kollektif/Kollektif.ttf');
}

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 2.5rem;
}

.card {
    background-color: #2F333E;
    width: 15rem;
    height: 9.0625rem;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #857DDB;
}

.card-topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.valor {
    margin-top: 15px;
    font-size: 2.1875rem;
}

.card-titulo {
    font-size: 1.1rem;
    font-family: 'Satoshi', sans-serif;
    color: #C2C2C2;
}

.cards-engajamento {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5.75rem;
}

.titulo-grafico {
    font-family: 'Satoshi';
}

.grafico {
    height: 100%;
    width: 80%;
}

.graficos {
    display: flex;
    flex-direction: row;
    width: 77.25rem;
    height: 100%;
    gap: 25px;
    margin-top: 25px;
}

.icone {
    background: linear-gradient(to right, #5A4FCF, #9B93F5);
    border-radius: 50%;
    padding: 5px;
    font-size: 32px;
}

/* Trilhas */
.trilhas-topo {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 1.8rem;
    justify-content: space-between;
}

.trilhas-grafico {
    flex: 1; /* ocupa todo o espaço disponível do lado esquerdo */
    max-width: 700px; /* opcional, para não ficar gigante em telas grandes */
    background-color: #2F333E;
    border-radius: 0.5rem; 
    border: 1px solid #857DDB;
    padding-top: 1.5625rem;
    
}

.trilhas-cards {
    display: flex;
    flex-direction: row;
    gap: 0.9375rem;
    margin-top: 3.125rem; 
}

.trilhas-ativas {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 0.625rem;
    font-family: 'Satoshi';
    color: #cdcdcd;
}

.icone-trilhas {
    color: #34A853;
}

/* Dropdown */
.dropdown-btn button {
    text-decoration: none;
    background: none; 
    background-color: #373737;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-family: 'Kollektif';
    color: #fff;
    margin-top: 40px;
    transition: background 0.2s;
    cursor: pointer; 
}

.menu-opcao {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #2F333E;
    margin-top: 0px;
    border: 1px solid #1a1a1a;
    color: #fff;
    font-size: 0.8rem;
}

/* Diagnóstico */
.diagnostico-botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.diagnostico-graficos {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;
}

/* Relatório */
.relatorio {
    background-color: #2F333E;
    border-radius: 0.5rem; 
    border: 1px solid #857DDB;
    padding: 2rem;
    margin-top: 3rem;
}

.icone-relatorio {
    color: #34A853;
    width: 30px;
    height: 30px;
}

.relatorio-titulo {
    color: #857DDB;
    margin-top: 20px;
    font-size: 1.75rem;
}

.relatorio-subtitulo {
    color: #cdcdcd;
    margin-top: 10px;
    font-size: 1.3rem;
}

.relatorio-texto {
    font-size: 1.2rem;
    margin-top: 10px;
}

.relatorio-card {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center; 
    padding: 1.25rem;
    background-color: #3A3F4D;
    width: 18.75rem;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.relatorio-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 30px;
}

.relatorio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
}

.icone-indicador {
    font-size: 1.8rem;
    color: #5449CC;
    margin-bottom: -0.2rem;
}

.conclusao {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
}

/* Visão geral */
.visaoGeral-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.paineis {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 45px;
}

.painelPrincipal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 750px;
}

.painelSecundario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    background-color: #2F333E;
    border: 1px solid #857DDB;
    border-radius: 10px;
    width: 250px;
    padding: 16px;
}

.painel-titulo {
    font-family: 'Kollektif';
    font-weight: 600;
}

.painel-estatisticas {
    font-family: 'Satoshi';
    font-weight: 300;
}

.painel-icone {
    height: 60px;
    width: 60px;
    color: #857DDB;
}

.infoLinha {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #2F333E;
    border: 1px solid #857DDB;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    align-items: left;
    text-align: left;
}

.infoLinhas {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 10px;
}

.info-icone {
    height: 25px;
    width: 20px;
}

.visaoGeral-icone {
    color: #857DDB;
    height: 25px;
    width: 25px;
}

.visaoGeral-grafico {
    width: 100%;
    background-color: #5449CC;
    border-radius: 30px;
    align-items: center;
    padding: 25px;
}

.card-visaoGeral {
    background-color: #2F333E;
    width: 240px;
    height: 145px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #857DDB;
}

.cardTitulo-visaoGeral {
    font-size: 1.5rem;
    font-family: 'Satoshi';
    color: #cdcdcd;
}

.visaoGeral-subtitulo {
    font-family: 'Satoshi';
    font-size: 1rem;
    color: #cdcdcd;
}

/* Subtitulo geral */
.subtitulo {
    color: #fff;
}

/* Gráfico */
.grafico-linhas {
    max-width: 43.75rem;
    max-height: 18.75rem;
}

@media (max-width: 1024px) {
    .dashboard {
        padding: 2rem;
        gap: 2rem;
    }

    .cards-engajamento {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }

    .card {
        width: 14rem;
        height: 9rem;
        padding: 18px;
    }

    .card-topo {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .valor {
        font-size: 2rem;
        margin-top: 12px;
    }

    .card-titulo {
        font-size: 1rem;
    }

    .graficos {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-top: 20px;
    }

    .grafico {
        width: 100%;
        height: auto;
    }

    .icone {
        font-size: 28px;
        padding: 4px;
    }
}