.iconUser{
   display: flex;
   gap: 10px;
   margin-top: 15px;
   color:#777;
}
.graficos-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 30px;
}

.card-historico {
  margin: 10% auto;
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  width: 85%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.item-historico {
  display: flex;
  margin-bottom: 5px;
}

.card-historico h1 {
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
  margin-left: 10px;

}

.historico-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.historico-icon svg {
  color: #9b93f5;
}

.historico-icon .line {
  width: 2px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 4px;
  border-radius: 2px;
}

.titulo-linha {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titulo-atividade {
  font-weight: bold;
  color: white;
}

.data {
  background: rgba(255, 255, 255, 0.15);
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
}
.descricao {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.85);
}
