.error {
    color: var(--cor-erro);
    font-size: 0.875rem;
    margin-top: 4px;
    font-family: var(--font-body);
}

.input-error {
    border-color: var(--cor-erro) !important;
    box-shadow: 0 0 0 1px var(--cor-erro);
}

.input-error:focus {
    border-color: var(--cor-erro) !important;
    box-shadow: 0 0 0 2px var(--cor-erro);
}