@font-face {
  font-family: 'Kollektif';
  src: url('../assets/fontes/kollektif/Kollektif.ttf');
}
@font-face {
  font-family: 'techno_wanker';
  src: url('../assets/fontes/techno_wanker/TechnoWanker.ttf');
}

body{
    background-color: #141414;
    font-family: 'kollektif';
    color: #FFFFFF;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header css */
.headerContainer{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0rem 2.5rem; 
    height: 54px;
    background-color: #000000; 
    color: #E1E1E6; 
    font-family: 'kollektif';
    font-weight: bold;
}
.usuario{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.navigation {
  display: flex;
  gap: 5rem;
  height: 100%;
}
.navigation a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  color: #C4C4CC;
  padding-bottom: 5px;
  position: relative;
  transition: color 0.2s;
}
.navigation a:hover {
  color: #E1E1E6;
}
.navigation a.active {
  color: #FFFFFF;
  font-weight: bold;
}
.navigation a.active::after {
  content: '';
  width: calc(100% + 1.2rem);
  height: 3px;
  background: #0078D7;
  background: linear-gradient(90deg,rgba(0, 120, 215, 1) 0%, rgba(84, 73, 204, 1) 100%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.brandLogo span {
  font-family: 'techno_wanker';
  font-weight: 100;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}