.bodyLg {
    background-color: #141414;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.bodyLg::before, .bodyLg::after{
    content: '';
    position: absolute;
    z-index: 0;
}
.bodyLg::before {
    top: 350px;
    left: -90px;
    width: 500px;
    height: 400px;
    background: radial-gradient(circle, rgba(90, 79, 207, 0.858) 0%, rgba(20, 20, 20, 0) 100%);
    filter: blur(180px);
   
}
.bodyLg::after {
    top: 550px;
    right: 450px;
    width: 500px;
    height: 200px;
    background: radial-gradient(circle, #9B93F5 0%, rgba(20, 20, 20, 0) 100%);
    filter: blur(180px);    
}
/*cores field*/
.loginBoxWrapper{
    position: relative;
    z-index: 1;
}
.fieldSet.mantine-Fieldset-root{
    background-color: transparent;
    top: 200px;
    border: none;
}
.fieldSet .mantine-Fieldset-legend{
    font-family: 'kollektif' !important;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin-bottom: 3px;
}
.welcomeText.mantine-Text-root{
    font-family: 'inter' !important;
    font-size: 1.2rem;
    color: #717171;
    margin-bottom: 15px;
}
.popText.mantine-Text-root{
    font-family: 'inter' !important;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    color: rgb(183, 183, 183);
    margin-bottom: -1rem;
}
.popDrop.mantine-Popover-dropdown{
    background-color: #222222;
    border-color: #919191;
}
.popDrop.mantine-Popover-arrow{
    border-color: #919191;
}
.loginInputLabel.mantine-TextInput-label,
.loginInputLabel.mantine-PasswordInput-label{
    color: white;
    font-family: 'inter' !important;
    font-weight: 300;
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.loginInputField.mantine-PasswordInput-input,
.loginInputField.mantine-TextInput-input{
    font-family: 'inter' !important;
    font-weight: 300;
    background-color: #222222;
    border-color: #919191;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #c9c9c9;
}
.loginInputField::placeholder,
.placeInp::placeholder {
    opacity: 0.2 !important;
    font-size: 1rem;
    font-weight: 400;
}
.loginInputField:-webkit-autofill{
    -webkit-text-fill-color: var(--cor-texto-principal) !important; 
    -webkit-box-shadow: 0 0 0 30px #222222 inset !important; 
}
.loginLink{
    text-decoration: none;
    color: #0078D7;
    font-size: 12px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.loginLink:hover{
    color: #3ca5fa;
}
.loginButton.mantine-Button-root{
    margin-top: 2.2rem;
    background-color: #5449CC;
    font-size: 1.1rem;
    font-family: 'satoshi' !important;
    font-weight: 400;
    transition: background-color 0.3s ease;
}
.loginButton.mantine-Button-root:hover{
    background-color: #4033d5 !important;
}
.butaoSaida.mantine-ActionIcon-root{
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 10;
}
.butaoSaida.mantine-ActionIcon-root:hover{
    background: #292929;
}
