@font-face {
  font-family: 'Kollektif';
  src: url('../assets/fontes/kollektif/Kollektif.ttf');
}
@font-face {
  font-family: 'techno_wanker';
  src: url('../assets/fontes/techno_wanker/TechnoWanker.ttf');
}
@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fontes/Satoshi/Fonts/OTF/Satoshi-Regular.otf');
}

html {
  scrollbar-color: #6e6e6ec5 #202020;
  scrollbar-width: thin;
}
.bodyLp {
  background-color: #141414;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.bodyLp::before, .bodyLp::after, .bodyLp > main::before {
  content: '';
  position: absolute;
  z-index: 0;
}
@keyframes aura-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.bodyLp::before {
  top: -250px;
  left: -250px;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(90, 79, 207, 0.5) 0%, rgba(20, 20, 20, 0) 70%);
  filter: blur(150px);
  animation: aura-pulse 8s ease-in-out infinite;
}
.bodyLp::after {
  top: 450px;
  right: -250px;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(90, 79, 207, 0.5) 0%, rgba(20, 20, 20, 0) 70%);
  filter: blur(180px);
  animation: aura-pulse 10s ease-in-out infinite;
  
}
.bodyLp > * {
  position: relative;
  z-index: 1;
}
.bodyLp > main {
  position: relative;
  z-index: 1; 
}
.bodyLp > main::before {
  top: 280px;
  right: -500px;
  width: 600px;
  height: 250px;
  background: radial-gradient(circle, #9B93F5 0%, rgba(130, 87, 229, 0) 83%);
  filter: blur(130px);
  animation: aura-pulse 12s ease-in-out infinite;
}

/* header*/
.headerLp {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  background-color: transparent;
  position: absolute;
  z-index: 10;
}
.navigation-lp {
  display: flex;
  gap: 5rem;
}
.navigation-lp a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Satoshi', sans-serif;
  font-size: 1.2rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.navigation-lp a:hover {
  color: rgb(255, 255, 255);
  text-shadow:
  0 0 10px #7f74ff,
  0 0 20px #9389f9,
  0 0 30px #c2c2c2,
  0 0 40px #bab4ff
}
.userIn {
  display: flex;
  gap: 1.5rem;
  justify-self: end;
}
.userIn a {
  text-decoration: none;
  font-family: 'satoshi', sans-serif;
  font-size: 0.95rem;
  font-weight: 900;
  color: #5A4FCF;
  transition: color 0.3s ease;
}
.userIn a:hover {
  color: #b4adff;
}

/* hero section*/
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 2rem 12rem 2rem;
  width: 100%;
  text-align: center;
  position: relative;
}
.h1Lp {
  font-family: 'Kollektif', sans-serif; 
  font-size: 2.7rem; 
  font-weight: 700; 
  line-height: 1.2;
  background: linear-gradient(90deg, #797878 0%, #FFFFFF 46.15%, #797878 100%);
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  margin-bottom: 2rem;
}
.texto-normal {
  font-family: 'Inter', sans-serif; 
  color: #d2d2d2; 
  font-size: 1.10rem;
  line-height: 1.7; 
  font-weight: 300; 
  max-width: 600px;
  text-align: center;
  text-justify: inter-word;
  hyphens: auto;            
  word-break: normal;       
  overflow-wrap: break-word;
}
.lpBotao { 
  margin-top: 7rem; 
  padding: 1rem 3rem; 
  font-size: 1.5rem; 
  border-radius: 10px; 
}
.scroll-down-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  cursor: pointer;
}

.scroll-arrow {
  color: #d6d1ff;
  margin-bottom: -0.9rem;
  width: 34px;
  height: 34px;
  animation: bounce 1.5s infinite ease-in-out;
  opacity: 0.7;
}
.scroll-arrow-static {
  color: #d6d1ff;
  width: 34px;
  height: 34px;
  margin-bottom: -0.9rem;
  animation: glow 1.3s infinite ease-in-out;
}

.scroll-arrow:hover {
  opacity: 1;
}

.scroll-arrow.delay-1 {
  animation-delay: 0.2s;
}

.scroll-arrow.delay-2 {
  animation-delay: 0.5s;
}

/* Animação das setas */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    color: #8a7aff;
    filter: drop-shadow(0 0 6px #8074ff8f);
    opacity: 0.9;
  }
  50% {
    transform: translateY(2px);
    color: #ffffff; 
    filter: drop-shadow(0 0 16px #b8aaff);
    opacity: 1;
  }
}
@keyframes glow {
  0%, 100% {
    color: #8a7aff;
    filter: drop-shadow(0 0 6px #8074ff8f);
    opacity: 0.9;
  }
  50% {
    color: #ffffff;
    filter: drop-shadow(0 0 16px #b8aaff);
    opacity: 1;
  }
}

/* container principal */
.main-content-block {
  width: 210vh;
  margin: 0 auto;
  background-color: #171717;
  position: relative;
  padding-top: calc(100px + 6rem);
  padding-bottom: 6rem;
  clip-path: polygon(0 100px, 50% 0, 100% 100px, 100% 100%, 0% 100%);
}
.top-border-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  overflow: visible;
}

/*parte interna das seções*/
/*motivos section*/
.motivos-section, .diagnostico-section {
  padding-top: 0;
  padding-bottom: 6rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.motivos-grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin: 0 auto;
  padding: 0 0.5rem; 
  max-width: 1200px;
}

.motivos-titulo{
  font-family: 'kollektif';
  font-size: 3rem;
  color: #C2C2C2;
  margin: 0 0rem 6rem 0rem; 
  text-align: center;
}
.motivo-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
}
.motivo-numero { 
  font-family: 'Konkhmer Sleokchher', sans-serif; 
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(90deg,#857DDB  35%,#C4BFFF  100%);
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.motivo-card h3 {
  font-family: 'Kollektif', sans-serif; 
  font-size: 1.5rem; 
  font-weight: 700;
  background: linear-gradient(90deg, #C4BFFF 0.5%, #857DDB 40%);
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.motivo-content {
  display: flex;
  align-items: left; 
  gap: 0rem;
  margin-top: 1rem;
  margin-left: 1.7rem;
}
.motivo-line-icon {
  font-size: 5rem; 
  transform: translateY(7px);
  color: #857DDB
}
.motivo-card p {
  flex: 1; 
  font-family: 'Techna Sans', sans-serif; 
  font-size: 1.1rem; 
  line-height: 1.6; 
  color: #E5D0D0; 
  max-width: 19rem;
}

/*relatorios*/
.form-section-wrapper {
  width: 100%;
  position: relative;
  background-color: #141414;
  border-top: 2px solid #333;
  padding: 6rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*footer*/
.footer-container {
  background-color: #141414; 
  color: #757575; 
  padding: 50px 0;
  width: 100%;
  font-family: 'Satoshi', sans-serif; 
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.footer-container::before {
  content: '';
  position: absolute;
  z-index: 0;
  pointer-events: none;
  top: 0;
  right: 600px;
  width: 60%;
  height: 180%;
  background: linear-gradient(
    35deg,
    rgba(90, 79, 207, 0.479) 0%, 
    rgba(90, 79, 207, 0.188) 30%,
    transparent 40%             
  );
  filter: blur(50px);
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-intro {
  margin: 0 0 30px;
}

.footer-intro a {
  color: #757575;
  text-decoration: none;
}

.footer-intro a:hover {
  text-decoration: underline;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  width: 100%;
}

.footer-column {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 16px;
}

.footer-column a {
  color: #757575;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* .language-selector {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #757575;
  border: 1px solid #333;
  padding: 12px 15px;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 30px;
  cursor: pointer;
}

.globe-icon {
  margin-right: 10px;
} */

.footer-brand {
  margin-top: 30px;
  font-size: 0.8rem;
}

/* Responividade*/

@media (max-width: 1024px) {
  .motivos-grid { 
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    padding: 0 8rem;
  }

  .footer-content {
    padding: 0 1rem;
  }

  .footer-container::before{
    right: 330px;
    filter: blur(30px);
    width: 60%;
    height: 190%;
  }
}

@media (max-width: 768px) {
  .headerLp { 
    padding: 1rem;
  }
  .navigation-lp { 
    display: none; 
  }
  .hero-section { 
    padding: 10rem 1rem 8rem 1rem; 
  }
  .h1Lp { 
    font-size: 2.2rem; 
  }
  .texto-normal { 
    font-size: 1rem; 
  }
  .main-content-block {
    width: auto;
    padding-top: calc(50px + 4rem);
    clip-path: polygon(0 100px, 50% 0, 100% 100px, 100% 100%, 0% 100%);
  }
  .motivos-grid { 
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 8rem;
  }
  
  .motivos-titulo {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .motivo-card {
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 90%;
  }

  .motivo-header {
    margin-left: 0;
    justify-content: center;
  }

  .motivo-line-icon {
    font-size: 4rem; 
    transform: translateY(0);
  }

  .motivo-card p {
    max-width: 100%;
    text-align: center;
  }

  .motivo-numero { 
    font-size: 3rem;
  }

  .motivo-card h3 {
    font-size: 1.3rem;
  }

  /* Footer ajustes */
  .footer-content {
    padding: 0 1rem;
  }

  .footer-container {
    padding: 2rem 1.5rem;
    width: 100%;
  }

  .footer-container::before {
    right: 50px;
    filter: blur(30px);
    width: 60%;
    height: 150%;
  }

 
  .footer-content {
    padding: 0 1rem;
  }

  .footer-container{
    padding: 2rem 8rem;
    width: 100%;
  }

  .footer-container::before{
    right: 300px;
    filter: blur(30px);
    width: 60%;
    height: 150%;
  }
}

