@font-face {
    font-family: 'Satoshi';
    src: url(../assets/fontes/satoshi/Satoshi-Light.otf);
}

h2{
    color: #fff;
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 25px;
    margin-top: 40px;
    width: 900px;

}
.grafico{
    margin-top:60px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;             
    flex-wrap: wrap; 
    margin-bottom: 0.5rem;
    
    
}
.icon svg {
  width: 60px;
  height: 60px;
  fill:#d4cbcb;
}
.container-beneficio {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 15rem;
  flex-wrap: wrap; 
  
}

.alinhando-icon{
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;
}

.beneficios,
.detalhe-beneficio {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  font-size: 18px;
  font-family: 'Satoshi';
  font-weight: 400;
}
.botao-plano{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:2vw;
    margin-bottom: 20px;
    
}
.botao-plano button{
    background:  #5449CC;
    color:#fff;
    border-radius: 13px;
    padding: 0.8rem 1.0rem;
    border: none; 
    font-size: 20px;
}

.botao-plano button:hover {
  box-shadow: 0 0 2px #5449CC;
  transform: scale(1.1);  
  cursor: pointer;
}

